<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dubbo.provider.mapper.FilmsMapper">
  <resultMap id="BaseResultMap" type="com.smart.dubbo.provider.domain.entity.Films">
    <!--@mbg.generated-->
    <!--@Table tb_films-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="film_name" jdbcType="VARCHAR" property="filmName" />
    <result column="film_date" jdbcType="DATE" property="filmDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, film_name, film_date
  </sql>
</mapper>